// Main Visual Section
.hm_mainvisual {
  position: relative;

  .mv_item {
    background-image: url(../imgs/home/bg-banner.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 757px;
    position: relative;
    z-index: 1;

    @include sp {
      background-size: auto 100%;
      height: 500px;
    }
  }

  .mv_inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    .mv_cnt {
      max-width: 73%;
      color: #fff;

      @include sp {
        max-width: 100%;
      }

      .mv_ttl {
        line-height: 100%;
        margin-bottom: 19px;
        letter-spacing: 1.5px;
        font-size: 70px;
        font-weight: 400;
        span {
          color: $span01;
        }

        @include sp {
          font-size: 30px;
          letter-spacing: -0.9px;
          margin-bottom: 13px;
        }
      }
      .mv_sub-ttl {
        line-height: 100%;
        margin-bottom: 57px;
        letter-spacing: 5px;
        font-size: 48px;
        font-weight: 400;

        @include sp {
          font-size: 20px;
          margin-bottom: 17px;
          letter-spacing: 0;
        }
      }
      .mv_desc {
        font-family: $sub-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0;
        width: 79%;
        span {
          font-weight: 900;
        }

        @include sp {
          font-size: 14px;
          width: 100%;
        }
      }
      .mv_btn {
        display: flex;
        gap: 15px;
        margin-top: 57px;

        @include sp {
          flex-direction: column;
          gap: 8px;
          margin-top: 13px;
        }

        a {
          color: $bg01;
          border: 1px solid #ffffff;
          display: block;
          font-weight: 900;
          font-family: $sub-font;
          padding: 12px 48px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          transition: background-position 0.2s ease-in-out;

          &:active,
          &.is-active {
            background: $btn-color;
            border: 1px solid transparent;
          }

          &:hover {
            background: $btn-color;
            border: 1px solid transparent;
          }

          @include sp {
            padding: 8px 0px;
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }

  .mv_bottom-deco {
    background-image: url("../imgs/home/home\ bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    pointer-events: none;
    @media screen and (max-width: 375px) {
      background-image: url("../imgs/home/sp\ home\ bg.svg");
    }
  }
}
